.big-title
    &__block
        display: flex
        justify-content: center
        align-items: center
        height: 200px
        background-color: #E8ECEF

        h1
            font-size: 80px
            font-weight: 300
            margin-bottom: 0